<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
    <context:component-scan base-package="vip.ipav.spring">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller" />
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.RestController" />
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice" />
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.RestControllerAdvice" />
    </context:component-scan>

    <!--<context:property-placeholder
            file-encoding="utf-8"
            ignore-resource-not-found="true"
            ignore-unresolvable="false"
            location="classpath:config/xxl-conf-local.properties" />-->
    <context:property-placeholder location="classpath:config/xxl-conf.properties"/>


    <!-- ********************************* XXL-CONF 配置工厂 ********************************* -->
    <!--也可以通过@bean方式导入，例子：vip.ipav.spring.services.XxlConfService-->
    <bean id="xxlConfFactorySimple" class="com.xxl.conf.core.spring.XxlConfFactory"  >
        <!-- 环境配置文件地址，如 "xxl-conf.properties" 或 "file:/data/webapps/xxl-conf.properties" -->
        <property name="zkaddress" value="${xxl.conf.zkaddress}" />
        <property name="zkdigest" value="${xxl.conf.zkdigest}" />
        <property name="env" value="${xxl.conf.env}" />
        <property name="mirrorfile" value="${xxl.conf.mirrorfile}" />
    </bean>

    <!-- ********************************* 测试示例（可删除） ********************************* -->
    <bean id="confService" class="vip.ipav.spring.services.ConfService">
        <property name="paramByXml" value="$XxlConf{default.key03}" />
    </bean>

</beans>